<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    
    <form [formGroup]="form" enctype="multipart/form-data">
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="email" formControlName="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Price</label>
          <input type="text" formControlName="Price" class="form-control" id="exampleInputPassword1" placeholder="Price">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">OrigimalPrice</label>
            <input type="text" formControlName="OriginalPrice" class="form-control" id="exampleInputPassword1" placeholder="OriginalPrice">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Số lượng</label>
            <input type="text" formControlName="Quantity" class="form-control" id="exampleInputPassword1" placeholder="số lượng">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Size</label>
            <input type="text" formControlName="Size" class="form-control" id="exampleInputPassword1" placeholder="Size">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
            <input type="text" formControlName="Description" class="form-control" id="exampleInputPassword1" placeholder="description">
        </div>     
        <div class="form-group">
          <label for="category">Loại sản phẩm</label>
          <select name="" id="category" class="form-control" formControlName="CateID">
            
              <option *ngFor="let item of listCategory; let i = index"  value="{{item.id}}">{{item.name}}</option>
            
               
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Image</label>
          <input type="file" #file formControlName="Image" class="form-control" (change)="uploadFile(file.files)" id="exampleInputPassword1" >
      </div>
        <div class="form-group">
          <button *ngIf="id==undefined?'hide':''" type="submit" (click)="addProduct()" class="btn btn-primary">{{SubmitText}}</button>
          <button *ngIf="id!=undefined?'hide':''" class="btn btn-primary" (click)="Update()">{{SubmitText}}</button>
        </div>
       
      </form>
</div>


<!-- /.container-fluid -->